<ion-header>

  <ion-navbar>
    <ion-title>Pedido</ion-title>

    <ion-buttons right>
      <button ion-button (click)="confirmarPedido()">
        Confirmar
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content>



  <ion-list no-lines>

    <ion-item *ngFor="let producto of pedido">

      <ion-thumbnail item-start>
        <img [src]="producto.thumb_url||'assets/imgs/logo.png'">
      </ion-thumbnail>
      <h4>{{producto.titulo | uppercase}}</h4>
      <!--  <p>Talla M</p> -->

      <ion-row justify-content-end>
        <ion-col col-auto align-self-center>
          <button ion-button clear icon-only (click)="disminuirCantidad(producto)">
            <ion-icon name="arrow-back"></ion-icon>
          </button>
        </ion-col>

        <ion-col align-self-center col-auto>
          <div>{{producto.cantidad}}</div>
        </ion-col>

        <ion-col col-auto align-self-center>
          <button ion-button clear icon-only (click)="aumentarCantidad(producto)">
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-col>
        <ion-col text-right align-self-center>
          <p *ngIf="producto.cantidad>1">{{producto.cantidad}} x {{producto.precio|currency}} </p>
          <p>{{producto.cantidad*producto.precio|currency}}</p>
        </ion-col>
      </ion-row>
      <!--      <ion-row>
        <ion-col text-right>
          <p>{{producto.precio}}</p>
        </ion-col>
      </ion-row> -->


    </ion-item>

  </ion-list>

</ion-content>
<ion-footer>
  <ion-toolbar>

    <ion-row>
      <ion-col>
        Articulos: {{cantidadProductos()}}
      </ion-col>
      <ion-col text-right>
        Total: {{totalProductos()|currency}}
      </ion-col>
    </ion-row>


  </ion-toolbar>
</ion-footer>