<ion-header>

  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Empresa</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>

    <!--  <img src="assets/imgs/logo.png"> -->

    <ion-card-content>

      <ion-card-title>
        {{empresa.nombre}}
      </ion-card-title>

      <p>
        {{empresa.descripcion}}
      </p>
      <div *ngFor="let direccion of empresa.direcciones">
        <div>
          <!-- <ion-icon name="pin" item-start></ion-icon> -->
          <p>Ubicación: {{direccion.calle}}, {{direccion.colonia}}, {{direccion.numero}}, {{direccion.cp}}, {{direccion.estado}}.</p>
        </div>
        <div *ngFor="let telefono of direccion.telefonos">
         <!--  <ion-icon name="call" item-start></ion-icon> -->
          <p>Teléfono: {{telefono.numero}}</p>
        </div>
        <div>
         <!--  <ion-icon name="at" item-start></ion-icon> -->
          <p>E-mail:{{direccion.email}}</p>
        </div>
      </div>


    </ion-card-content>
  </ion-card>

</ion-content>